In [1]:
n = int(input("Enter a number: "))
c=0
m=n
for i in range(n) :
    for j in range(n):
        print(m,end=" ")
    print()
    c=c+1
    n=n-1
    m=n+c

Enter a number: 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [2]:
n = int(input("Enter a number: "))
for i in range(n) :
    for j in range(n+1):
        print(j,end=" ")
    print()
    n=n-1

Enter a number: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [3]:
n = int(input("Enter a number: "))
m=1
for i in range(n) :
    for j in range(i+1):
        print(m,end=" ")
    print()
    m+=2

Enter a number: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [4]:
n = int(input("Enter a number: "))
for i in range(1,n+1) :
    m=i
    for j in range(1,i+1):
        print(m,end=" ")
        m-=1
    print()

Enter a number: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
n = int(input("Enter a number: "))
c=1
for i in range(n) :
    m=i+c
    
    for j in range(i+1):
        print(m,end=" ")
        m-=1
        c+=1
    print()

Enter a number: 5
1
3 2
6 5 4
10 9 8 7
15 14 13 12 11

In [6]:
n=int(input("enter value:"))
for i in range(1,n+1) :
    
    
    for j in range(1,n+1):
        if(j<i):
            print(i,end=" ")
        if(j>=i):
            print(j,end=" ")
    print()

enter value:5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [7]:
n = int(input("Enter a number: "))
for i in range(1,n+1) :
    m=i
    for j in range(1,i+1):
        print(m,end=" ")
        m+=i
    print()

Enter a number: 5
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [10]:
c=1
k=1
for i in range(1,8):
    for j in range(5):
        print(' ',end='')
    if(i>2):
        c=1
        k=1
        for j in range(1,i):
            print(' ',end='')
    if(c==1 and k==1):
        c=0
        for j in range(1,8-i):
            print('* ',end='')
    else:
        c=1
        for j in range(1,8-i):
            print(' *',end='')    
    print()

     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [11]:
c=1
k=1
for i in range(1,8):
    for j in range(5):
        print(' ',end='')
    if(i>0):
        c=1
        k=1
        for j in range(1,8-i):
            print(' ',end='')
    if(c==1 and k==1):
        c=0
        for j in range(1,i+1):
            print('* ',end='')
    else:
        c=1
        for j in range(1,i+1):
            print(' *',end='')    
    print()

           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *

In [12]:

n=int(input('enter value:'))
for i in range (1, n+2): 
    if(i<=n):
        print('* '*i)
    else:
        print()
        k=n
        for j in range(1,n+1):
            print('* '*k)
            k=k-1

enter value:5
*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

In [13]:

n=int(input('enter value:'))
for i in range (1, n+2): 
    if(i<=n):
        print('* '*i)
    else:
        k=n
        for j in range(1,n+1):
            k=k-1
            print('* '*k)

enter value:5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
c=1
k=1
n=int(input('enter value:'))
for i in range(1,n-1):
    if(i<(n-1)):
        if(i>2):
            c=1
            k=1
            for j in range(1,i):
                print(' ',end='')
        if(c==1 and k==1):
            c=0
            for j in range(1,n-i):
                print('* ',end='')
        else:
            c=1
            for j in range(1,n-i):
                print(' *',end='') 
        print()
for i in range(2,n):
        for j in range(1,n-i):
            print(' ',end='')
        for j in range(1,i):
            print('* ',end='')
        print()

enter value:8
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [16]:

n=int(input('enter value:'))
k=n
for i in range (1, n*2): 
    if(i<=n):
        print(' '*(n-i),'*'*i)
    else:
        k=k-1
        print(' '*(i-n),'*'*k)

enter value:8
        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
  *******
   ******
    *****
     ****
      ***
       **
        *

In [17]:
n=int(input('enter value:'))
for i in range(n):
    if(i>0):
        print('*'*(n-i),'_'*(i*2),'*'*(n-i))
    else:
        print('*'*(n*2+2))

enter value:6
**************
***** __ *****
**** ____ ****
*** ______ ***
** ________ **
* __________ *